<div class="card mb-4" style="width: 18rem;">
    <img [src]="character.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{character.name}}</h5>
      <span class="badge text-bg-success" *ngIf="character.status === 'Alive'">{{character.status}}</span>
      <span class="badge text-bg-danger" *ngIf="character.status !== 'Alive'">{{character.status}}</span>
      <p class="card-text"><b>Especie: </b>{{character.species}}</p>
      <a (click)="goToDetails(character.id)" class="btn btn-primary">Ver detalles</a>
    </div>
</div>